<div class="top-bar-profile">
  <img src="/assets/logo.jpg" class="logo-img"/> 
</div>

<h1 class="ht-title">Select your hair type</h1>

<div class="icons-panel"> 
  <img src="/assets/hair_curly.png" class="image-icon"/>
  <img src="/assets/hair_kinky.png" class="image-icon"/>
  <img src="/assets/hair_straight.png" class="image-icon"/>
  <img src="/assets/hair_wavy.png" class="image-icon"/>
</div>