<div class="top-bar-profile">
  <img src="/assets/logo.jpg" class="logo-img"/> 
  <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'profile-logout') %>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>

  <div class="profile-area"> 
    <div class="user-data">
      <!-- fazer a rederização condicional aqui, para puxar os ico certo-->
      <img class="user-data-icon" src="/assets/null_icon.png" /> 
      <img class="user-data-icon" src="/assets/null_icon.png" /> 
    </div>
    <a href="" class="generate-hc">Generate haircuts</a>
  </div>
</table>


