
<div class="top-bar">
  <img src="/assets/logo.jpg" class="logo-img"/> 
</div>

<h1 class="haircuts-title">The best haircuts for you</h1>

<div class="gallery">
  <img src="/assets/haircuts/straight/short_straight_1.jpg" class="gallery-item"/>
  <img src="/assets/haircuts/straight/short_straight_2.jpg" class="gallery-item"/>
  <img src="/assets/haircuts/straight/short_straight_3.jpg" class="gallery-item"/>
  <img src="/assets/haircuts/straight/short_straight_4.jpg" class="gallery-item"/>
  <img src="/assets/haircuts/straight/short_straight_5.jpg" class="gallery-item"/>
</div>
