
<div class="top-bar">
  <img src="/assets/logo.jpg" class="logo-img"/> 
</div>

<h1 class="haircuts-title">The best haircuts for you</h1>

<div class="gallery">
  <img src="/assets/haircuts/kinky/medium_kinky_1.jpg" class="gallery-item"/>
  <img src="/assets/haircuts/kinky/medium_kinky_2.jpg" class="gallery-item"/>
  <img src="/assets/haircuts/kinky/medium_kinky_3.jpg" class="gallery-item"/>
  <img src="/assets/haircuts/kinky/medium_kinky_4.jpg" class="gallery-item"/>
  <img src="/assets/haircuts/kinky/medium_kinky_5.jpg" class="gallery-item"/>
</div>
