

body {
    background: url(/assets/bg-barber.jpg) no-repeat fixed center / cover;
}

.chavoso-logo {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
}

.devise-bg {
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 0 auto;
    margin-top: 220px;
    margin-right: 80px;
    border: 4px dashed white;
    background-color: rgba(255, 255, 255, .4); 
    border-radius: 80px;
    padding: 40px;
}

.devise {
    margin-bottom: 20px;
}

.field {
    margin-bottom: 10px;
}

.devise-form-label {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.devise-form-input {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid white;    
    border-radius: 40px;
    width: 300px;
    height: 40px;;

}

.devise-title {
    font-size: 60px;
    font-family: 'Raleway';
    color: white;
    text-shadow: 0px 5px 5px rgb(43, 43, 43);
}