

body {
    background: url(/assets/bg-barber.jpg) no-repeat fixed center / cover;
}

.chavoso-logo {

    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    
}

.field {

    background-color: white;
}

.devise {
    margin-right: 50px;
}

.devise-bg {
    
    width: 20%;
    margin: 0 auto;
    margin-top: 300px;
    margin-right: 80px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 80px;
    padding: 50px;
}