// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: url(/assets/bg-barber.jpg) no-repeat fixed center / cover;
}

.chavoso-logo {

    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
}