
$left-logo-gray: #26252B;
$right-logo-gray: #242329;
$bg-gray-color: #2F2E33;
$bg-gray-profile: rgb(63, 61, 68);
$gray-highlight: rgb(82, 82, 82);
$gray-highlight2: rgb(119, 119, 119);
$gray-highlight3: rgb(163, 163, 163);
$txt-gray-color: rgb(158, 162, 173);

.top-bar-profile {
  position: relative;
  background-color: $right-logo-gray;
  border-bottom: 2px solid $gray-highlight;
}

.profile-logout {
  position: absolute;
  right: 100px;
  top: 35px;
  font-size: 25px;
  text-decoration: none;
  margin-left: 90%;  
  background-color: $gray-highlight;
  padding: 10px;
  border-radius: 20px;
  color: $txt-gray-color;
  text-shadow: 0px 3px 3px black;
  border: 2px solid $gray-highlight2;
  
  &:hover {
    background-color: $gray-highlight2;
    border: 2px solid black;
  }
}

.profile-area {
  display: flex;
  flex-flow: column;
  background-color: $bg-gray-profile;
  height: 500px;
  border-bottom: 1px solid $gray-highlight2;
}

.user-data {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 80px;
  width: 50%;
  margin: auto;
  border: 2px solid $gray-highlight;
  background-color: rgba(255, 255, 255, .1);
  @media screen and (max-width: 1290px) {
    width: 85%;
  }
}

.set-data {
  text-decoration: none;
  font-size: 25px;
  color: $txt-gray-color;
  text-shadow: 0px 2px 2px black;
  background-color: $gray-highlight;
  border-radius: 20px;
  border: 2px solid $gray-highlight2;
  padding: 20px;
  &:hover {
    background-color: $gray-highlight2;
    border: 2px solid black;
    cursor: pointer;
  }
  @media screen and (max-width: 1310px) {
    font-size: 1.3em;
  }
}

.user-data-icon {
  width: 250px;
  height: 250px;
  padding: 20px;
}

.generate-hc {
  text-decoration: none;
  font-size: 25px;
  color: $txt-gray-color;
  text-shadow: 0px 2px 2px black;
  background-color: $gray-highlight;
  border-radius: 20px;
  border: 2px solid $gray-highlight2;
  padding: 20px;
  &:hover {
    background-color: $gray-highlight2;
    border: 2px solid black;
    cursor: pointer;
  }
  width: 30%;
  margin: auto;
  text-align: center;
}

